<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CricInteligence Application</title>
    <style>
        .header {
            padding: 20px;
            background-color: azure;
        }
    </style>
</head>

<body>
    <div class="header">
        <h1>cric intell.</h1>
        <p>The ultimate intellegent app to provide analysis on teams, players and what not!!</p>
        <p>A project by:
            <ul>
                <li>Member 1 : Reg No.</li>
                <li>Member 2 : Reg No.</li>
            </ul>
        </p>

    </div>

</body>

</html>